* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: black;
  color: azure;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "left-up top-center top-right"
                        "left-up center bottom-right "
                        "left-bottom left-bottom bottom-right"   ;


}
#left-up {
    grid-area: left-up;
  background-color: aqua;
}
#top-center {
    grid-area: top-center;
  background-color: blueviolet;
}
#top-right {
    grid-area: top-right;
  background-color: rgb(222, 174, 135);
}
#center {
grid-area: center;
  background-color: rgb(148, 135, 222);
}
#left-bottom {
    grid-area: left-bottom;
 background-color: rgb(212, 135, 222);
}
#bottom-right {
grid-area: bottom-right;
  background-color: cadetblue;
}
